body{
 background-color: rgb(0, 0, 0);   
 color: rgba(128, 255, 0, 0.653);
 src
}
li{
    list-style-type:square ;
}


div{
    width: 372px;
    height: 400px;
    background-color: blue;
    color: rgb(255, 0, 0);
}

img{
    width:200px;
    height: 400px;
}







  



